#searchResults {
    text-align:center;
}
#searchResults > h2 {
    margin-bottom:0;
}
input[type=file] {
    display:none;
}
.remove {
    margin:0 0.25em;
}
.h2 {
    font-size:31.5px;
    font-weight:bold;
}
