<script id="modalTemplate" type="text/template">
    <% if (headerContent) { %>
        <div class="modal-header">
            <button aria-hidden="true" class="close" type="button">&times;</button>
            <%= headerContent %>
        </div>
    <% } %>
    <% if (bodyContent) { %>
        <div class="modal-body">
            <%= bodyContent %>
        </div>
    <% } %>
    <% if (footerContent) { %>
        <div class="modal-footer">
            <%= footerContent %>
        </div>
    <% } %>
</script>