<script id="geographySelectionsTemplate" type="text/template">
    <div class="selections" id="zipCodeFile">
        <h3>Zip code file</h3>
        <div>
            <% if (zipCodeFile !== '') { %>
                <div><span class="description"><%= zipCodeFile %></span></div>
            <% } %>
        </div>
    </div>
    <div class="selections" id="zipCodes">
        <h3>Zip codes</h3>
        <ul>
            <% if (zipCodes.length) { %>
                <% _.each(zipCodes, function (zipCode) { %>
                    <li><span class="description"><%= zipCode %></span></li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</script>