<script id="geographySelectionsTemplate" type="text/template">
    <div class="selections" id="zipCodeFile">
        <h3>Zip code file</h3>
        <p>
            <% if (!zipCodeFile) { %>
                None selected
            <% } else { %>
                <span class="description"><%= zipCodeFile %></span>
            <% } %>
        </p>
    </div>
    <div class="selections" id="zipCodes">
        <h3>Zip codes</h3>
        <% if (!zipCodes.length) { %>
            <p>None selected</p>
        <% } else { %>
            <ul>
                <% _.each(zipCodes, function (zipCode) { %>
                    <li><span class="description"><%= zipCode %></span></li>
                <% }) %>
            </ul>
        <% }  %>
    </div>
</script>