<script id="geographyZipCodesUploadTemplate" type="text/template">
    <h2>ZIP loader</h2>
    <p>To add more than 50 ZIP codes at once, upload a Microsoft Excel, .txt, .csv or .tsv file.</p>
    <form enctype="multipart/form-data" id="geographyZipCodesUploadForm" name="geographyZipCodesUploadForm">
        <div>
            <% if (!zipCodeFile) { %>
                Select file
                <button class="browse">Browse</button>
            <% } else { %>
                <%= zipCodeFile %>
                <button class="browse">Change</button>
                <button class="cancel">Cancel</button>
            <% } %>
        </div>
        <div class="progress hide">
            <div class="bar">
            </div>
        </div>
        <input type="submit" value="Upload" />
        <input accepts="csv,txt,tsv,xls,xlsx" name="file" type="file" />
    </form>
    <div class="geographyZipCodesAlertContainer"></div>
</script>