<script id="geographyZipCodesUploadTemplate" type="text/template">
    <h4>ZIP loader</h4>
    <p>To add more than 50 ZIP codes at once, upload a Microsoft Excel, .txt, .csv or .tsv file.</p>
    <form enctype="multipart/form-data" id="geographyZipCodesUploadForm" name="geographyZipCodesUploadForm">
        <div>
            <% if (!zipCodeFile) { %>
                Select file
                <button class="btn browse">Browse</button>
            <% } else { %>
                <%= zipCodeFile %>
                <button class="btn browse">Change</button>
                <button class="btn cancel">Cancel</button>
            <% } %>
        </div>
        <div>
            <a class="help" href="#">Get ZIP loader tips</a>
        </div>
        <div class="progress hide">
            <div class="bar">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
        <input accepts="txt" name="file" type="file" />
    </form>
    <div class="alertContainer"></div>
</script>